.media-preview {
    position: relative;
}
.media-preview img {
    -webkit-transition: all .3s;
    transition: all .3s;
    object-fit: contain;
    padding: 30px;
    width: 100%;
    height: 100%;
}
.media-preview.chosen img {
    object-fit: cover;
    padding: 0;
}
.media-preview.chosen:hover img {
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
}
.media-preview a {
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 20px;
    margin: 3px;
    opacity: 0;
}
.media-preview:hover a {
    opacity: 1;
}
.media-preview .update,
.media-preview .delete {
    display: none;
}
.media-preview.chosen .update,
.media-preview.chosen .delete {
    display: inline-block;
}
.media-single .desktop {
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
}
.media-single .mobile {
    -webkit-transition: all .5s;
    transition: all .5s;
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
}
.media-single .overlay {
    -webkit-transition: all .3s;
    transition: all .3s;
    text-align: center;
    opacity: 0;
}
.media-single .media-preview {
    width: 100%;
    height: 300px;
    background-color: #fff;
}
.media-single .media-preview:hover .desktop {
    width: 50%;
}
.media-single .media-preview:hover .mobile.d-none + .desktop {
    width: 100%;
}
.media-single .media-preview:hover .mobile {
    width: 50%;
}
.media-single .media-preview.chosen .overlay {
    background-color: rgba(255, 255, 255, .9);
}
.media-single .media-preview:hover .overlay {
    opacity: 1;
}
.media-gallery ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 15px;
}
.media-gallery li {
    grid-column: span 1;
    background-color: var(--light);
}
.media-gallery .media-preview {
    height: 120px;
}
.media-gallery .desktop {
    height: 100%;
}
.media-gallery a {
    font-size: 20px;
    margin: 3px;
}
.media-gallery .sort {
    color: var(--light);
}
.media-gallery .sort .fa-inverse {
    color: #333;
}
.media-gallery .sortable-chosen img {
    opacity: 1;
    filter: grayscale(100%) !important;
    -webkit-filter: grayscale(100%);
!important;
}
.media-gallery .sortable-ghost img {
    opacity: 0;
}
.media-gallery .sortable-chosen {
    -webkit-box-shadow: inset 0 0 0 5px var(--blue);
    -moz-box-shadow: inset 0 0 0 5px var(--blue);
    box-shadow: inset 0 0 0 5px var(--blue);
}
.media-gallery .media-add {
    border: 2px dashed #ccc;
    position: relative;
    padding: 40px;
}
.media-gallery .media-add.is-invalid {
    border: 1px solid var(--red);
}